input {
    keyboard {
        xkb {
            layout "us"
            // options "ctrl:nocaps" // Kanata에서 관리하기 위해 주석 처리
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

// 창 규칙
window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// 커서 설정 (Niri 네이티브 설정)
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 48
}

// 자동 실행
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "noctalia-shell"
spawn-at-startup "nm-applet"
spawn-at-startup "hypridle"

// 단축키 파일 포함
include "binds.kdl"
