// 창 규칙
window-rule {
    geometry-corner-radius 20
    clip-to-geometry true
}

window-rule {
    match is-active=false
    opacity 0.85
}

layer-rule {
    match namespace="^noctalia-(wallpaper|backdrop)"
    place-within-backdrop true
}

layout {
    background-color "transparent"
    gaps 10
    center-focused-column "never"

    // 새 창이 열릴 때의 기본 너비 (0.5 = 50%)
    default-column-width { proportion 0.5; }

    // Mod+R로 전환할 수 있는 너비 프리셋
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    focus-ring {
        width 4
        active-color "#7fc1ca"
        inactive-color "#45475a"
    }
}

overview {
    workspace-shadow {
        off
    }
}

// 커서 설정 (Niri 네이티브 설정)
cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 48

    // 키보드 타이핑을 시작하면 즉시 마우스 커서를 숨깁니다.
    hide-when-typing

    // 마우스를 조작하지 않은 지 3000ms(3초)가 지나면 커서를 숨깁니다.
    hide-after-inactive-ms 3000
}

// 자동 실행 (환경 변수 공유 및 Systemd 세션 연동)
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "NIRI_SOCKET"
spawn-at-startup "systemctl" "--user" "start" "niri-session.target"

spawn-at-startup "fcitx5" "-d"
// spawn-at-startup "noctalia" // systemd가 관리하도록 제거
spawn-at-startup "nm-applet"

// 단축키 파일 포함
include "binds.kdl"
